<div class="my-5 pt-5">
    <div class="pt-3 mt-3 conatiner">
        <div class="text-center pt-4" style="color: rgb(44, 62, 80);">
            <h2 class="text-uppercase mb-3 fs-1 fw-bolder">conatct section</h2>
            <div class="d-flex align-items-center justify-content-center mb-3">
                <div class="line me-3"></div><i class="fa-solid fa-star"></i>
                <div class="line ms-3"></div>
            </div>
        </div>


        <form class="w-50 p-3 mx-auto mt-5">

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="userName">
                <label for="floatingInput">userName</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="userAge">
                <label for="floatingInput">userAge</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="userEmail">
                <label for="floatingInput">userEmail</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="userPassword">
                <label for="floatingPassword">userPassword</label>
            </div>


            <button class="btn mt-4 text-white" style="background-color: #1abc9c;"> send Message
            </button>
        </form>
    </div>
</div>