<div class="footer">
    <div class="p-3">
        <div class="row p-4 text-center">
            <div class="col-md-4">
                <div>
                    <h3>LOCATION</h3>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <h3>AROUND THE WEB</h3>
                    <div class="icons d-flex justify-content-center"><i
                            class="fa-brands border align-items-center d-flex justify-content-center fa-facebook mx-1 icon rounded-circle"></i><i
                            class="fa-brands fa-twitter mx-1 icon border align-items-center d-flex justify-content-center rounded-circle"></i><i
                            class="fa-brands align-items-center d-flex justify-content-center border rounded-circle fa-linkedin-in mx-1 icon"></i><i
                            class="fa-solid fa-globe mx-1 icon border align-items-center d-flex justify-content-center rounded-circle"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <h3>ABOUT FREELANCER</h3>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route </p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <p class="Copyright mb-0 p-4 text-white">Copyright © Your Website 2021</p>
    </div>
</div>