<body>
    <main class="mt-5 pt-3">
        <div class="container d-flex  flex-column justify-content-center align-items-center text-white mt-5">
            <div class="image mt-5 mb-3"><img class="w-100" src="./assets/avataaars.svg" alt="avatar"></div>
            <div class="text-center pt-4" style="color: white;">
                <h2 class="text-uppercase mb-3 fs-1 fw-bolder">start Framework</h2>
                <div class="d-flex align-items-center justify-content-center mb-3">
                    <div class="line me-3"></div><i class="fa-solid fa-star"></i>
                    <div class="line ms-3"></div>
                </div>
            </div>
            <div class="text-white mb-4 pb-4"><span>Graphic Artist - Web Designer - Illustrator</span></div>
        </div>
    </main>
</body>