.layer {
    background-color: #1abc9ce6;
    opacity: 0;
    cursor: pointer;
    transition: .6s;
}

.image:hover .layer {
    opacity: 90%;
}

.line {
    height: 4px;
    width: 80px;
    background-color: rgb(44, 62, 80);    
}

.enlarged-image img {
    width: 600px;
}