<nav [style.height.px]="navbarHeight" class="navbar fw-bolder fixed-top navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand fw-bold fs-2" routerLink="/startFramework">START FRAMEWORK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLinkActive="bg-primary rounded" routerLink="/about">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="bg-primary rounded" routerLink="/portfolio">PORTFOLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="bg-primary rounded" routerLink="/contact">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>